/* footer */
.main-footer{
   background-color: #7c3aed;
   text-align: center;
   padding: 1rem;
}
.footer-head{
   color: #fff;
}
.main-footer ul li{
   display: inline-block;
   margin: 0.5rem 1rem;
}